$qora: #191919;
$mainBlack: #191919;
$btnonecolor: #152540;
$btntwocolor: #c9ac8c;
$mainWhite: white;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./utils/verible"; //1

@import "./utils/mixins"; //2

@import "./utils/media"; //3

@import "./utils/grid"; //4

@import "./pages/bookshome";

@import "./pages/header";

@import "./utils/utils";
